.header {
  display: flex;
  flex-direction: column;
  justify-content: safe;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 12%;
  background: rgb(65, 64, 64);
  /* color: white; */
  /* background: rgb(69, 22, 22); */
  border-right:1px solid black ;
  padding-top: 2rem;

  padding-left: 1.5rem;
  padding-right: 4rem;
  color: white;
  gap: 2rem;
  opacity: 100%;
  /* display: none; */
}
.gradient_bg {
  background: hsla(208, 7%, 55%, 1);

  background: linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 0%,
    hsla(191, 5%, 40%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 0%,
    hsla(191, 5%, 40%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(208, 7%, 55%, 1) 0%,
    hsla(191, 5%, 40%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#858E96", endColorstr="#60696B", GradientType=1 );
}
a {
  text-decoration: none;
  color: white;

  align-items: center;
}
.a a {
  font-weight: bold;
}

.tags:hover {
  background-color: rgb(45, 44, 44);
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tags {
  /* border: 1px solid black; */
  padding: 10px 0px 10px;
  margin: 0.5rem 0;
  /* padding: 5px 0 0px; */
}
.tags svg {
  color: white;
}
.logo span {
  font-family: cursive;
  /* line-height: 24px; */
  /* font-size: 100px; */
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  /* font-family: cursive; */
}
.header img {
  width: 23px;
  height: auto;
}
.logo span {
  font-weight: bolder;
  font-size: 24px;
}
/* .avatar img{
  clip-path: circle();
  width: 23px;
  height: auto;
  /* margin: 0; */

.links {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  /* margin-bottom: 2rem; */
}
.menu {
  position: fixed;
  bottom: 0rem;
}
.menu:hover{
  margin-right: 3rem;
  padding-right: 3rem;
  cursor: pointer;
}

.menu-container button{
  border: none;
  color: aliceblue;
  font-size: 16px;
  background: none;
  font-weight: 500;
  width: max-content;
  cursor: pointer;
}

.menu-card {
  position: absolute;
  bottom: calc(100% + 1px);
  left: 0;
  z-index: 1;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width:max-content;
  margin-right: 3rem;
}

.menu-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-card li {
  padding: 10px;
  cursor: pointer;
}

.menu-card li:hover {
  background-color: rgb(57, 57, 57);
  border-radius: 15px;
}

.searchBoxCard{
  display:flex;
  display:block;
  flex-direction:column;
  position:fixed;
  padding:1rem;
  top:0;
  left:1rem;
  /* // paddingBottom:12rem; */
  width:280px;
  height:100vh;
  color: rgb(252, 252, 252);
  background:rgb(47, 45, 45);
  border-radius:20px ;
  

}

.slide-fwd-right{animation:slide-fwd-right .45s cubic-bezier(.25,.46,.45,.94) both}



 @keyframes slide-fwd-right{0%{transform:translateZ(0) translateX(0)}100%{transform:translateZ(160px) translateX(100px)}}

@media (max-width: 550px) {
  .header {
    display: none;
  }
}
