.phone_footer{
    /* display: flex; */
    position: fixed;
    bottom: 0;
    max-width: 550px;
    width: 100%;
    /* background: rgb(65, 64, 64); */
    /* background: rgb(252, 251, 251); */
    background: rgb(112, 109, 109);

    
    /* padding: .5rem; */
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* align-items: center; */
    /* justify-content: space-around; */
    border-top: 1px solid black;

}
.footerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    /* gap: 1rem; */
    

}
.footerContent img {
    width: 23px;
    height: auto;
    cursor: pointer;

}
.img{
    clip-path: circle();

}
@media (min-width:550px) {
    .phone_footer{
        display: none;
    }
}
