.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    gap: 1rem;
    width: 23%;
    z-index: 2;
    right: 8rem;
    top: 25rem;
    
    color: grey;
    /* width: 500px; */
    /* border: 2px solid red; */
}
.footer_links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
}
.footer_links a{
    text-decoration: none;
    color: grey;
    font-size: 12px;

}