.post {
    max-width: 600px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    margin-left: 30%;
    margin-right: 10%;
    /* display: none; */
}

.postImage {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.postText {
    font-weight: normal;
    padding: 10px;
}

.postHeader {
    display: flex;
    align-items: center;
    /* padding: 5px; */
}

.post_Avatar {
    margin: 10px;
}

.comment{
    width: 100%;
    object-fit: contain;
}
