*{
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    /* color: white; */
    /* background: rgb(133, 130, 130); */

}
.story_post_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    /* max-width: 40%; */
    background: rgb(9, 9, 9);
    /* background: #fbf9f9; */
    /* background: rgb(69, 22, 22); */
    color: black;
    /* left: 25%; */
/* color: white; */


}
.story_slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(5, 5, 5);
  background: rgb(239, 243, 240);
  /* background: rgb(32, 9, 9); */

  border-radius: 1rem;
  /* box-shadow: 5px 5px 5px 5px black; */


    /* background: rgb(133, 130, 130); */

    /* position: sticky; */
    /* top: 0; */
    /* right: 0; */
    /* z-index: 1; */
    /* position: absolute; */
    width: 33%;
    margin-left: 30%;
    /* right: 30%;  */
    margin-top: 1rem;
    /* padding: 0rem 1rem; */
    /* width: 40%; */
    overflow: auto;
    padding: 1rem 0rem;
    margin-bottom: 3rem;

}
::-webkit-scrollbar{
    display: none;
}
.story-card img {
    width: 100px;
    border-radius: 100%;
    clip-path: circle();

}
span{
    font-weight:500;
    font-size: 14px;
}
.story-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0rem 1rem; */
    /* clip-path: circle(); */
    margin: 0;
}

@media (max-width:550px) {
    .story_post_container{
        width: 100%;
        /* margin: 1rem 0; */
        /* padding: 0; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /* background: black; */
    background: rgb(32, 31, 31);

    color: white;
    border-bottom: 1 px solid grey;
    border-right:none ;
    outline: none;
    margin-right: 0;



    }
.story_slider{
    width: 100%;
    margin: 1rem 0;
    /* padding: 0; */
    border-top: none;
  /* background: rgb(65, 64, 64); */
  /* background: black; */
  background: rgb(32, 31, 31);

  border-radius: 0px;



}
}